* {
  padding: 0px;
  margin: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #F6F7F8;
}

.navbar-header {
  display: flex;
  width: 100vw;
}

.main-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.main-menu .nav-item {
  padding-top: 40px;
}

.dashboard {
  width: 100vw;
  position: relative;
}

/* Thin scrollbar for all browsers */
/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

/* Internet Explorer/Edge */
*::-ms-scrollbar {
  width: 8px;
}

*::-ms-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

*::-ms-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  font-weight: 400;
  width: 80%;
  font-size: 21px;
  z-index: 100;
}
#header .inner-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 100vh;
  background: #2A3647;
  border-radius: 0px;
  z-index: 100;
}
#navbar a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 100px;
  height: 122px;
}

.nav-item {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-item img {
  margin-right: 20px;
}
.nav-item img {
  width: 26px;
  height: 26px;
}
.nav-item .nav-title {
  font-size: 18px;
}

button, a {
  cursor: pointer;
}

.main-container {
  position: absolute;
  top: 8%;
  left: 20%;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 92%;
  overflow: hidden;
}

.subtask-progress {
  display: flex;
  width: 100%;
}

.d-none {
  display: none;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

h2 {
  color: #2A3647;
  font-size: 21px;
  font-weight: 700;
  padding: 0 !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.add-contact-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  color: black;
  background: #2A3647;
  border: 1px solid #2A3647;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 10px;
  font-weight: 700;
  font-size: 16px;
}
.add-contact-btn img {
  margin-left: 10px;
}

.contact-book {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-book h3 {
  padding-top: 10%;
  padding-bottom: 10%;
}
.contact-book .contact-container {
  display: flex;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: center;
  border: none;
  background-color: transparent;
  width: 100%;
}
.contact-book .icon-initial {
  color: white;
}
.contact-book .contact-email {
  color: #007CEE;
  font-size: 16px;
}
.contact-book .contact-name {
  font-size: 21px;
  display: flex;
  justify-content: flex-start;
}

.edit-contact-container {
  width: 67%;
  background-color: #F5F5F5;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 10%;
  flex-direction: column;
}
.edit-contact-container h2 {
  border-right: 3px solid #29ABE2;
  font-size: 61px;
  padding-right: 8%;
}
.edit-contact-container nobr {
  padding-left: 8%;
}

.edit-contact-headline {
  display: flex;
  align-items: center;
}

.edit-contact {
  display: flex;
  align-self: flex-start;
}

.contact-flex {
  display: flex;
  justify-content: center;
  width: 33%;
  background-color: white;
  overflow-y: scroll;
}

.add-contact-dialog, .edit-contact-dialog {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.add-contact-dialog .add-contact, .edit-contact-dialog .add-contact {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-contact-dialog .add-contact .add-contact-menu, .edit-contact-dialog .add-contact .add-contact-menu {
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 70%;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-description, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-description {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 2.5%;
  padding-right: 2.5%;
  background-color: #2A3647;
  width: 40%;
  height: 100%;
  border-radius: 30px 0px 0px 30px;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-description h2, .add-contact-dialog .add-contact .add-contact-menu .add-contact-description p, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-description h2, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-description p {
  color: white;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-description h2, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-description h2 {
  font-size: 61px;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-description img, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-description img {
  height: 66px;
  width: 55px;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  height: 100%;
  border-radius: 0px 30px 30px 0px;
  background-color: #FFFFFF;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu button img, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu button img {
  height: 24px;
  width: 24px;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu img, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu img {
  height: 120px;
  width: 120px;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-evenly;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form input:nthchild(), .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form input:nthchild() {
  margin-left: 12px;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form input:nth-child(1), .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form input:nth-child(1) {
  background-image: url(/assets/img/person.png);
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form input:nth-child(2), .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form input:nth-child(2) {
  background-image: url(/assets/img/mail.png);
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form input:nth-child(3), .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu form input:nth-child(3) {
  background-image: url(/assets/img/phone-line.png);
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu input, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu input {
  font-size: 21px;
  width: 100%;
  margin-top: 8%;
  margin-right: 10%;
  margin-bottom: 8%;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 13px 21px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 95%;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn {
  display: flex;
  justify-content: flex-start;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn button, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn button {
  margin-top: 8%;
  margin-right: 10%;
  margin-bottom: 8%;
  display: flex;
  align-items: center;
  padding: 18px 10px;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn button img, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn button img {
  width: 24px;
  height: 24px;
  margin-left: 2px;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn button:first-child, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn button:first-child {
  color: #2A3647;
  border: 1px solid #2A3647;
  background-color: white;
}
.add-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn button:last-child, .edit-contact-dialog .add-contact .add-contact-menu .add-contact-submenu .menu-btn button:last-child {
  background-color: #2A3647;
  color: white;
  margin-left: 5%;
  border: none;
  width: 100%;
  color: #FFFFFF;
}

.close-upper-right {
  position: absolute;
  top: 35px;
  right: 35px;
  border: none;
  background: transparent;
}
.close-upper-right img {
  width: 22px;
  height: 22px;
}
.close-upper-right h3 {
  margin-top: 5%;
  border-bottom: 1px solid #D1D1D1;
  border-radius: 3px;
  padding-left: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.contact-name-email {
  margin-top: 8%;
  margin-bottom: 5%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.contact-intial {
  border: 1px solid #FFFFFF;
  border-radius: 58px;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-contact-menu {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.edit-contact-popup {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contact-name-email {
  margin-left: 20px;
}

.edit-name-initial-con {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}
.edit-name-initial-con .edit-name {
  font-size: 47px;
}

.edit-information {
  display: flex;
}

.add-task-btn {
  border: none;
  background-color: transparent;
  color: #29ABE2;
  display: flex;
  align-items: center;
}
.add-task-btn img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.edit-initial {
  width: 120px;
  height: 120px;
  font-size: 47px;
  border-radius: 70px;
  border: 3px solid #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clicked-contact {
  background-color: #2A3647 !important;
}/*# sourceMappingURL=contacts.css.map */