* {
  padding: 0px;
  margin: 0px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  padding-block: 0px;
  padding-inline: 0px;
}

body {
  box-sizing: border-box;
}

/* Thin scrollbar for all browsers */
/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

/* Internet Explorer/Edge */
*::-ms-scrollbar {
  width: 8px;
  height: 8px;
}

*::-ms-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

*::-ms-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.help-and-logout {
  display: flex;
  align-items: center;
}

.selected-menu {
  background-color: #091931;
}

.scroll {
  overflow-y: scroll;
}

.btn-1-big {
  padding: 16px 16px;
}

.btn-1 {
  padding: 8px 16px;
}

.btn-1:hover {
  background-color: #29ABE2 !important;
  border: unset !important;
}

.btn-2:hover {
  color: #29ABE2 !important;
  border: solid 1px #29ABE2 !important;
}

.main {
  position: relative;
}

a {
  text-decoration: none;
  font-size: 18px;
}

body {
  background-color: #F6F7F8;
}

.main-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.main-menu .nav-item {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
}
.main-menu .nav-item .inner-item {
  width: 127px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.main-menu .nav-item img {
  margin-right: 20px;
}
.main-menu .nav-item img {
  width: 26px;
  height: 26px;
}

input, button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.dashboard {
  width: 100vw;
  position: relative;
}

#header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  height: 90px;
  position: relative;
  z-index: 1;
}
#header .inner-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  height: 100svh;
  width: auto;
  background: #2A3647;
  border-radius: 0px;
  z-index: 100;
}
#navbar a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 100px;
  height: 122px;
}

button, a {
  cursor: pointer;
}

.mgn-r {
  padding-right: 12px;
}

.mgn-l {
  padding-left: 12px;
}

.subtask-progress {
  display: flex;
  width: 100%;
}

.d-none {
  display: none !important;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

.page-container {
  display: flex;
  width: 100vw;
  height: 100svw;
  height: 100vh;
  height: 100svh;
  overflow: hidden;
  box-sizing: border-box;
}

.nav-con {
  width: 20%;
}

.page-con {
  width: 80%;
}

h2 {
  color: #2A3647;
  font-size: 21px;
  font-weight: 700;
  padding: 0 !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

.task-title {
  font-size: 36px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.popup-message {
  position: absolute;
  z-index: 6000;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100svh;
  width: 100svw;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.add-task-popup {
  position: absolute;
  z-index: 6000;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100svh;
  width: 100svw;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.profile-icon {
  margin-left: 12px;
  border-radius: 50%;
  border: 3px solid #2A3647;
  width: 49px;
  height: 49px;
  position: relative;
}

.task-submit-successful {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  padding: 23.5px 24.5px;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: white;
  position: absolute;
  bottom: 20% !important;
  left: 50%;
  transform: translateX(-50%);
  animation: fly-in 0.8s ease-out forwards;
}
.task-submit-successful img {
  height: 22px;
  width: 26px;
  margin-left: 30px;
}
@keyframes fly-in {
  0% {
    margin-bottom: -200px;
    opacity: 0;
  }
  100% {
    margin-bottom: 0px;
    opacity: 1;
  }
}

.logout-btn {
  width: 130px;
  height: auto;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px 20px 20px;
  color: white;
  position: absolute;
  top: 90px;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logout-btn button, .logout-btn a {
  background-color: #2A3647;
  padding: 12px;
  color: white;
  border: none;
}

.margin-auto {
  width: 90%;
  margin: auto;
}

.mobile-header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.error {
  background-color: darkred !important;
}

.notification-message {
  z-index: 100000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  padding: 23.5px 24.5px;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: white;
  position: absolute;
  bottom: 20% !important;
  left: 50%;
  transform: translateX(-50%);
  animation: fly-in 0.8s ease-out forwards;
}
.notification-message img {
  height: 22px;
  width: 26px;
  margin-left: 30px;
}
@keyframes fly-in {
  0% {
    margin-bottom: -200px;
    opacity: 0;
  }
  100% {
    margin-bottom: 0px;
    opacity: 1;
  }
}

.mobile-logo {
  display: none;
  width: 32px;
  height: 39px;
}

.border-big {
  border: 3px solid #29ABE2;
  height: 59px;
  margin-right: 5%;
  margin-left: 5%;
}

.mobile {
  display: none !important;
}

.mobile-flex {
  display: none !important;
}

.desktop-flex {
  display: flex !important;
}

.desktop {
  display: block !important;
}

#legalNotice {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 12px;
}
#legalNotice a {
  color: #A8A8A8;
}
#legalNotice a:hover {
  color: #29ABE2;
}

.close-upper-right {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0px;
  width: 40px;
  height: 40px;
  z-index: 1000;
  padding: 4px;
  border-radius: 50%;
  position: absolute;
  top: 2.5%;
  right: 5%;
  border: none;
  background: transparent;
  z-index: 10;
}
.close-upper-right:hover {
  background-color: rgba(41, 170, 226, 0.0745098039);
}
.close-upper-right img {
  width: 32px;
  height: 32px;
}

.form-btn {
  width: 100%;
  font-size: 21px;
}

.main-btn {
  width: 100%;
  font-size: 21px;
}

@media (max-width: 992px) {
  h1 {
    font-size: 47px;
  }
  h2 {
    font-size: 41px;
  }
  div, input, textarea, h3, a {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .page-container {
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  #navbar, #header {
    height: 76px;
  }
  .page-con {
    width: 100%;
    height: calc(100% - 76px);
  }
  .nav-con {
    width: 100%;
    height: 76px;
  }
  #helpBtn {
    display: none;
  }
  #navbar {
    z-index: 1000;
  }
  .add-task-popup {
    background-color: transparent;
    z-index: 200;
    height: calc(100% - 148px);
    top: 74px;
  }
  .mobile-flex {
    display: flex !important;
  }
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  .desktop-flex {
    display: none !important;
  }
  h1 {
    font-size: 47px;
  }
  .logout-btn button, .logout-btn a {
    padding: 8px;
    color: #CDCDCD;
  }
  .logout-btn {
    top: 76px;
  }
  .navbar-header {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  #logo {
    display: none;
  }
  .main-menu {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 0px !important;
    height: 76px;
  }
  .main-menu .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px !important;
    width: 25%;
    height: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .main-menu .nav-item .inner-item {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-menu .nav-item .inner-item img {
    margin-right: 0px;
    width: 22px;
    height: 22px;
  }
  .main-menu .nav-title {
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #CDCDCD;
    margin-top: 6px;
  }
  #legalNotice {
    display: none !important;
  }
  .mobile-logo {
    display: block;
  }
}
@media (max-width: 540px) {
  .kanban-description {
    display: none;
  }
  div, a {
    font-size: 12px;
  }
}
@media (max-height: 468px) and (orientation: landscape) {
  h1 {
    font-size: 36px;
  }
  #logo {
    width: 50px;
    height: 61px;
  }
  div {
    font-size: 14px !important;
  }
  .profile-icon {
    border: 2px solid #2A3647;
    width: 38px;
    height: 38px;
  }
  #header {
    height: 56px;
  }
  .main-container {
    height: calc(100% - 56px - 40px - 50px);
  }
}
@media (min-width: 2400px) {
  .page-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 66vw;
    height: calc(100vh - 10px);
    height: calc(100svh - 10px);
    margin: auto;
    border-radius: 30px;
    border: solid 2px #2A3647;
    overflow: hidden;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
.delete-popup-container {
  position: absolute;
  z-index: 6000;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100svh;
  width: 100svw;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-popup-container .delete-popup {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-popup-container .delete-popup img {
  width: 30px;
  height: 30px;
  margin: 0px;
  padding: 0px;
}
.delete-popup-container .delete-popup .cancel-delete {
  filter: invert(100%);
}

.boards-container {
  height: calc(85% - 90px);
  overflow: auto;
  padding-right: 5%;
}

.spacer {
  width: 100%;
  min-height: 16px;
}

.board-main {
  width: 90%;
  margin: auto;
  height: calc(100% - 90px);
  padding: 5% 0px;
}
.board-main .boards-title-menu {
  margin-bottom: 5%;
  gap: 2.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.board-main img {
  width: 30px;
  height: 30px;
}
.board-main .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.board-input .search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
}
.board-input input {
  border-radius: 10px;
  border: none;
  padding: 0px;
  margin-left: 22px;
}
.board-input input:focus {
  outline: none;
}
.board-input .button-container {
  position: absolute;
  right: 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-input .search-btn {
  border-left: 1px solid #D1D1D1;
  padding-left: 15px;
}

.add-task {
  margin-left: 35px;
  height: 51px;
  display: flex;
  align-items: center;
  padding: 18px 10px;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: white;
  background-color: #2A3647;
}
.add-task:hover {
  background-color: #29ABE2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.add-task img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.empty-board {
  padding: 19px 18px;
  width: calc(100% - 38px);
  background-color: #D1D1D1;
  border: 1px dashed #A8A8A8;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.assign-btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  position: relative;
}
.assign-btn-container .assign-btn {
  height: 51px;
  padding-left: 21px;
  padding-right: 21px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accept-edit-btn {
  width: 100px !important;
  align-self: flex-end;
  padding: 16px 16px;
  background-color: #2A3647;
  color: white;
  border-radius: 10px;
}

.details-assigned-users {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  gap: 10px;
}
.details-assigned-users .user-details {
  display: flex;
  align-items: center;
}

.board-task-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.board-task-container .board {
  padding-top: 23px;
}

.task {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 18px 19px;
  width: 200px;
  background: #FFFFFF;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  cursor: pointer;
}
.task:first-child {
  margin-top: 0px;
}
.task .task-container {
  width: 100%;
}
.task .task-container div, .task .task-container h3 {
  font-size: 16px;
}
.task .description {
  color: #A8A8A8;
}
.task:hover {
  transform: rotate(2deg);
  transition: 125ms;
}

.subtasks-in-details {
  display: flex;
  flex-direction: column;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}
.subtasks-in-details .subtask-checkbox-container {
  display: flex;
  align-items: center;
}

.user-urgency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6%;
}
.user-urgency .urgency {
  width: 22px;
  height: 15.4px;
  padding: 10px 18px;
}

.boards {
  display: flex;
  align-items: stretch;
  overflow-x: scroll;
  gap: 4%;
  width: calc(100% - 50px);
  justify-content: space-between;
  overflow-y: hidden;
}
.boards .board {
  width: 250px;
  display: flex;
  flex-wrap: wrap;
}
.boards .board .board-task-container {
  width: 100%;
}
.boards .board-header {
  width: 280px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.boards .board-header h2 {
  color: #2A3647;
  font-weight: 700;
  font-size: 21px;
  font-weight: 700;
  padding: 0 !important;
  margin: 0 !important;
}
.boards .board-header img:hover {
  filter: invert(47%) sepia(86%) saturate(463%) hue-rotate(153deg) brightness(106%) contrast(84%);
}

.assigned-users {
  display: flex;
}
.assigned-users .user-icon {
  margin-left: -18px;
  width: 35px;
  height: 35px;
  font-size: 12px;
}
.assigned-users .user-icon:nth-child(1) {
  margin-left: 0px !important;
}

.edit-task-dialog {
  position: absolute;
  z-index: 6000;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100svh;
  width: 100svw;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.center-task-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-icon {
  display: inline-block;
  padding: 4px 25px;
  border-radius: 8px;
  color: white;
}

.edit-task-main {
  overflow-y: hidden;
  position: relative;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.edit-task-container {
  position: relative;
  background-color: white;
  padding: 30px;
  height: 500px;
  overflow-y: scroll;
}
.edit-task-container .task-fields {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
}
.edit-task-container .user-initial-container {
  display: flex;
}

.single-task-container {
  position: relative;
  background-color: white;
  width: max(623px, 45%);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.single-task-container h2 {
  margin: 0px;
}
.single-task-container .change-tasks {
  position: absolute;
  bottom: 5%;
  right: 5%;
  display: flex;
  justify-content: center;
}
.single-task-container .change-tasks .delete-task-btn {
  width: 57px;
  height: 57px;
  border: 1px solid #2A3647;
  border-radius: 10px 0px 0px 10px;
}
.single-task-container .change-tasks .delete-task-btn img {
  width: 32px;
  height: 32px;
}
.single-task-container .change-tasks .delete-task-btn:hover {
  border: 1px solid #29ABE2;
  scale: 0.995;
}
.single-task-container .change-tasks .delete-task-btn:hover img {
  filter: invert(47%) sepia(86%) saturate(463%) hue-rotate(153deg) brightness(106%) contrast(84%);
}
.single-task-container .change-tasks .edit-task-btn {
  border-radius: 10px;
}
.single-task-container .change-tasks .edit-task-btn:hover {
  border: 1px solid #29ABE2;
  background-color: #29ABE2;
  scale: 0.995;
}
.single-task-container .change-tasks .edit-task-btn {
  width: 57px;
  height: 57px;
  background: #2A3647;
  border-radius: 0px 10px 10px 0px;
}
.single-task-container .change-tasks .edit-task-btn img {
  width: 17.44px;
  height: 30px;
}
.single-task-container .task-details {
  width: 85%;
  height: 80%;
  padding: 50px;
  overflow-y: auto;
}
.single-task-container .task-details h1 {
  padding-bottom: 12.5px;
  padding-top: 25px;
  font-size: 28px;
}
.single-task-container .task-details .category-icon {
  font-size: 24px;
}
.single-task-container .edit-task-form {
  width: 85%;
  margin: auto;
  height: 80%;
  padding-top: 10%;
  padding-bottom: 10%;
}
.single-task-container .edit-task-form .mgn-b {
  margin-bottom: 5%;
}
.single-task-container .edit-task-form .edit-task-field {
  width: 80%;
}
.single-task-container .edit-task-form .edit-task-field .user-assignment-container {
  padding-left: 20px;
  position: relative;
  padding-top: 5%;
  width: min(300px, 70%);
}
.single-task-container .edit-task-form .edit-task-field .user-assignment-container .user-initial-container {
  position: absolute;
  display: flex;
}
.single-task-container .details-priority-btn {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 4px 12px;
  color: white;
}
.single-task-container .details-priority-btn img {
  width: 17px;
  height: 12px;
  margin-left: 5px;
}
.single-task-container .details-priority-btn .filtered-img-urgent {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}
.single-task-container .details-priority-btn .filtered-img-medium {
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}
.single-task-container .details-priority-btn .filtered-img-low {
  filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(101%) contrast(200%);
}
.single-task-container .details-priority-btn.low {
  background-color: #7AE229;
}
.single-task-container .details-priority-btn.medium {
  background-color: #FFA800;
}
.single-task-container .details-priority-btn.urgent {
  background-color: #FF3D00;
}

.assigned-to-container {
  padding-top: 12.5px;
}
.assigned-to-container h2 {
  margin-bottom: 25px;
}

.long-text {
  overflow-y: auto;
  min-height: 0px;
  word-break: break-word;
}

.details-container {
  display: flex;
  align-items: center;
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}
.details-container h2 {
  margin-right: 25px;
}

.subtask-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 6%;
  font-size: 12px;
}

progress {
  color: #29ABE2;
  width: 80%;
}

.priority-btn {
  border: none;
  background-color: #ddd;
  color: #333;
  border-radius: 5px;
}

.priority-btn.selected {
  color: white;
}

.priority-btn.selected.low {
  background-color: #7AE229;
}
.priority-btn.selected.low img {
  filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(101%) contrast(200%);
}

.priority-btn.selected.urgent {
  background-color: #FF3D00;
}
.priority-btn.selected.urgent img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}

.priority-btn.selected.medium {
  background-color: #FFA800;
}
.priority-btn.selected.medium img {
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}

.empty {
  border: unset;
  display: inline-block;
}

.hovered {
  background-color: rgba(0, 0, 0, 0.05);
}

.task-headline {
  font-size: 18px;
}/*# sourceMappingURL=board.css.map */