* {
  padding: 0px;
  margin: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #F6F7F8;
}

.navbar-header {
  display: flex;
  width: 100vw;
}

.main-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.main-menu .nav-item {
  padding-top: 40px;
}

.dashboard {
  width: 100vw;
  position: relative;
}

/* Thin scrollbar for all browsers */
/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

/* Internet Explorer/Edge */
*::-ms-scrollbar {
  width: 8px;
}

*::-ms-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

*::-ms-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  font-weight: 400;
  width: 80%;
  font-size: 21px;
  z-index: 100;
}
#header .inner-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 100vh;
  background: #2A3647;
  border-radius: 0px;
  z-index: 100;
}
#navbar a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 100px;
  height: 122px;
}

.nav-item {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-item img {
  margin-right: 20px;
}
.nav-item img {
  width: 26px;
  height: 26px;
}
.nav-item .nav-title {
  font-size: 18px;
}

button, a {
  cursor: pointer;
}

.main-container {
  position: absolute;
  top: 8%;
  left: 20%;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 92%;
  overflow: hidden;
}

.subtask-progress {
  display: flex;
  width: 100%;
}

.d-none {
  display: none !important;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

h2 {
  color: #2A3647;
  font-size: 21px;
  font-weight: 700;
  padding: 0 !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.add-task-popup {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 85%;
  overflow: hidden;
  position: relative;
  width: 1116px;
  height: 914px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.task-main .add-task-formfield {
  display: flex;
}
.task-main .add-task-left {
  padding-right: 5%;
  border-right: 1px solid #D1D1D1;
}
.task-main .add-task-right {
  padding-left: 5%;
}

.close-upper-right {
  position: absolute;
  top: 35px;
  right: 35px;
  border: none;
  background: transparent;
}

.task-submit-successful {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  width: 326px;
  height: 74px;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: white;
  position: absolute;
  bottom: 20 !important;
  left: 50%;
  transform: translateX(-50%);
}
.task-submit-successful img {
  height: 22;
  width: 26;
  margin-left: 30px;
}

.board-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.board-main .boards-title-menu {
  margin-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 90%;
  margin: auto;
}
.board-main img {
  width: 30px;
  height: 30px;
}
.board-main .menu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.delete-task {
  width: 24px;
  height: 24px;
}

.board-input .search-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
}
.board-input input {
  border-radius: 10px;
  border: none;
  padding: 0px;
  margin-left: 22px;
}
.board-input input:focus {
  outline: none;
}
.board-input .button-container {
  position: absolute;
  right: 10;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board-input .search-btn {
  border-left: 1px solid #D1D1D1;
  padding-left: 15px;
}

.add-task {
  margin-left: 35px;
  height: 51px;
  display: flex;
  align-items: center;
  padding: 18px 10px;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  color: white;
  background-color: #2A3647;
}
.add-task img {
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.assign-btn-container {
  display: flex;
  flex-direction: column;
  width: 281px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  position: relative;
  align-items: flex-start;
}
.assign-btn-container .assign-btn {
  height: 51px;
  padding-left: 21px;
  padding-right: 21px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.board-task-container {
  margin-top: 15%;
  position: relative;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 400px;
  overflow-y: scroll;
}
.board-task-container .board {
  padding-top: 23px;
}

.task {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 19px;
  width: calc(100% - 38px);
  background: #FFFFFF;
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  margin-top: 35px;
  cursor: pointer;
}
.task:first-child {
  margin-top: 0px;
}
.task .task-container {
  width: 95%;
}
.task .task-container div, .task .task-container h3 {
  font-size: 16px;
}
.task .description {
  color: #A8A8A8;
}

.user-urgency {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6%;
}
.user-urgency .urgency {
  width: 22px;
  height: 15.4px;
  padding: 10px 18px;
}

.boards {
  display: flex;
  align-items: flex-start;
  width: 95%;
  margin: auto;
}
.boards .board {
  width: 95%;
  margin-left: 2.5%;
}
.boards .board-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boards .board-header h3 {
  color: #2A3647;
  font-weight: 700;
  font-size: 21px;
  font-weight: 700;
  padding: 0 !important;
}

.assigned-users {
  display: flex;
}
.assigned-users .user-icon {
  margin-left: -18px;
}
.assigned-users .user-icon:nth-child(1) {
  margin-left: 0px !important;
}

.details-assigned-users span {
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.edit-task-dialog {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}

.category-icon {
  display: inline-block;
  padding: 4px 25px;
  border-radius: 8px;
  color: white;
}

.edit-task-container {
  position: relative;
  background-color: white;
  width: 55%;
  height: 90%;
  margin: auto;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.edit-task-container h2 {
  margin: 0px;
}
.edit-task-container .edit-task-btn {
  position: absolute;
  width: 57px;
  height: 57px;
  bottom: 5%;
  right: 5%;
  background: #2A3647;
  border-radius: 10px;
}
.edit-task-container .edit-task-btn img {
  width: 22px;
  height: 30px;
}
.edit-task-container .task-details, .edit-task-container .edit-task-form {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-top: 10%;
}
.edit-task-container .details-priority-btn {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 18px;
  color: white;
}
.edit-task-container .low {
  background-color: #7AE229;
}
.edit-task-container .medium {
  background-color: #FFA800;
}
.edit-task-container .urgent {
  background-color: #FF3D00;
}

.row {
  display: flex;
}

.subtask-progress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 6%;
  font-size: 12px;
}

progress {
  color: #29ABE2;
  width: 80%;
}

.priority-btn {
  border: none;
  background-color: #ddd;
  color: #333;
  padding: 10px;
  border-radius: 5px;
}

.priority-btn.selected {
  color: white;
}

.priority-btn.selected.low {
  background-color: #7AE229;
}
.priority-btn.selected.low img {
  filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(101%) contrast(200%);
}

.priority-btn.selected.urgent {
  background-color: #FF3D00;
}
.priority-btn.selected.urgent img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}

.priority-btn.selected.medium {
  background-color: #FFA800;
}
.priority-btn.selected.medium img {
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}

.accept-edited-task-btn {
  color: white;
  background: #2A3647;
  border-radius: 10px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 35px;
  right: 35px;
  width: 83px;
  height: 61px;
  padding: 18px 10px;
}
.accept-edited-task-btn img {
  width: 24px;
  height: 24px;
}/*# sourceMappingURL=board.css.map */