@import '../../styles.sass'

.board-main
    width: 90%
    margin: auto
    height: 100%
    .boards-title-menu
        margin-bottom: 35px
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: row
        width: 100%
    img
        width: 30px
        height: 30px
    .menu
        display: flex
        justify-content: flex-end
        width: 100%

.delete-task
    width: 24px
    height: 24px

.board-input

    .search-container
        position: relative
        display: flex
        flex-direction: row
        align-items: center
        width: 100%
        background: #FFFFFF
        border: 1px solid #D1D1D1
        border-radius: 10px
    input
        border-radius: 10px
        border: none
        padding: 0px
        margin-left: 22px
        &:focus
            outline: none
    .button-container
        position: absolute
        right: 10
        height: 100%
        @include flex-center
    .search-btn
        border-left: 1px solid #D1D1D1
        padding-left: 15px

.add-task
    margin-left: 35px
    height: 51px
    display: flex
    align-items: center
    padding: 18px 10px
    border-radius: 10px
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 21px
    color: white
    background-color: #2A3647
    img
        width: 15px
        height: 15px
        margin-left: 5px

.assign-btn-container
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 281px
    background: #FFFFFF
    border: 1px solid #D1D1D1
    border-radius: 10px
    position: relative
    .assign-btn
        height: 51px
        padding-left: 21px
        padding-right: 21px
        width: 98%
        display: flex
        justify-content: space-between
        align-items: center

.board-task-container
    margin-top: 15%
    position: relative
    min-height: 550px
    display: flex
    flex-direction: column
    align-items: center
    height: 400px
    overflow-y: scroll
    .board
        padding-top: 23px

.task
    @include flex-center
    flex-direction: column
    padding: 18px 19px
    width: calc( 100% - 38px )
    background: #FFFFFF
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04)
    border-radius: 30px
    margin-top: 35px
    cursor: pointer
    &:first-child
        margin-top: 0px
    .task-container
        width: 100%
        div, h3
            font-size: 16px

    .description
        color: #A8A8A8

.user-urgency
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 6%
    .urgency
        width: 22px
        height: 15.4px
        padding: 10px 18px
.boards
    display: flex
    align-items: flex-start
    width: 100%

    .board
        width: 95%
        margin-left: 2.5%

    .board-header
        display: flex
        justify-content: space-between
        align-items: flex-start
        h2
            color: #2A3647
            font-weight: 700
            font-size: 21px
            font-weight: 700
            padding: 0 !important
            margin: 0 !important

.assigned-users
    display: flex
    .user-icon
        margin-left: -18px
    .user-icon:nth-child(1)
        margin-left: 0px !important

.details-assigned-users
    span
        margin-bottom: 2.5%
        margin-top: 2.5%

.edit-task-dialog
    @include popup

.center-task-dialog
    @include flex-center

.category-icon
    display: inline-block
    padding: 4px 25px
    border-radius: 8px
    color: white

.edit-task-container
    position: relative
    background-color: white
    width: max(623px, 45%)
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
    border-radius: 30px
    h2
        margin: 0px
    .edit-task-btn
        position: absolute
        width: 57px
        height: 57px
        bottom: 5%
        right: 5%
        background: #2A3647
        border-radius: 10px
        img
            width: 22px
            height: 30px
    .task-details
        width: 90%
        height: 90%
        margin: auto
        margin-top: 10%

    .edit-task-form
        @include flex-center
        flex-direction: column
        margin: auto
        height: 85%
        .mgn-b
            margin-bottom: 8%

    .details-priority-btn
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
        border-radius: 10px
        @include flex-center
        flex-direction: row
        padding: 4px 18px
        color: white
    .low
        background-color: #7AE229
    .medium
        background-color: #FFA800
    .urgent
        background-color: #FF3D00

.row
    display: flex

.subtask-progress
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    margin-top: 6%
    font-size: 12px

progress
    color: #29ABE2
    width: 80%

.priority-btn
    border: none
    background-color: #ddd
    color: #333
    padding: 10px
    border-radius: 5px

.priority-btn.selected
    color: white
.priority-btn.selected.low
    background-color: #7AE229
    img
        filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(101%) contrast(200%)
.priority-btn.selected.urgent
    background-color: #FF3D00
    img
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%)
.priority-btn.selected.medium
    background-color: #FFA800
    img
        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%)

.accept-edited-task-btn
    color: white
    background: #2A3647
    border-radius: 10px
    position: absolute
    @include flex-center
    bottom: 35px
    right: 35px
    width: 83px
    height: 61px
    padding: 18px 10px
    img
        width: 24px
        height: 24px
