@import '../../styles.sass'

.delete-popup-container
    @include popup
    @include flex-center
    .delete-popup
        display: flex
        justify-content: center
        align-items: center
        img
            width: 30px
            height: 30px
            margin: 0px
            padding: 0px
        .cancel-delete
            filter: invert(100%)

.boards-container
    height: calc(100% - 15% - 90px)
    overflow: auto
    padding-right: 5%

.spacer
    width: 100%
    min-height: 16px

.board-main
    width: 90%
    margin: auto
    height: calc( 100% - 90px)
    padding: 5% 0px
    .boards-title-menu
        margin-bottom: 5%
        gap: 2.5%
        display: flex
        justify-content: space-between
        align-items: center
        flex-direction: row
        width: 100%
    img
        width: 30px
        height: 30px
    .menu
        display: flex
        justify-content: flex-end
        align-items: center
        width: 100%

.board-input
    .search-container
        position: relative
        display: flex
        flex-direction: row
        align-items: center
        width: 100%
        background: #FFFFFF
        border: 1px solid #D1D1D1
        border-radius: 10px
    input
        border-radius: 10px
        border: none
        padding: 0px
        margin-left: 22px
        &:focus
            outline: none
    .button-container
        position: absolute
        right: 10px
        height: 100%
        @include flex-center
    .search-btn
        border-left: 1px solid #D1D1D1
        padding-left: 15px

.add-task
    margin-left: 35px
    height: 51px
    display: flex
    align-items: center
    padding: 18px 10px
    border-radius: 10px
    font-family: 'Inter'
    font-style: normal
    font-weight: 700
    font-size: 21px
    color: white
    background-color: #2A3647
    &:hover
        background-color: $hover
        box-shadow: $hover-shadow
    img
        width: 15px
        height: 15px
        margin-left: 5px

.empty-board
    padding: 19px 18px
    width: calc( 100% - 38px )
    background-color: #D1D1D1
    border: 1px dashed #A8A8A8
    border-radius: 10px
    @include flex-center

.assign-btn-container
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 100%
    background: #FFFFFF
    border: 1px solid #D1D1D1
    border-radius: 10px
    position: relative
    .assign-btn
        height: 51px
        padding-left: 21px
        padding-right: 21px
        width: 98%
        display: flex
        justify-content: space-between
        align-items: center

.accept-edit-btn
    width: 100px !important
    align-self: flex-end
    padding: 16px 16px
    background-color: $main
    color: white
    border-radius: 10px

.details-assigned-users
    display: flex
    flex-direction: column
    max-height: 300px
    overflow-y: auto
    gap: 10px
    .user-details
        display: flex
        align-items: center

.board-task-container
    position: relative
    display: flex
    flex-direction: column
    align-items: center
    height: 100%
    .board
        padding-top: 23px

.task
    @include flex-center
    flex-direction: column
    padding: 18px 19px
    width: 200px
    background: #FFFFFF
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04)
    border-radius: 30px
    cursor: pointer

    &:first-child
        margin-top: 0px
    .task-container
        width: 100%
        div, h3
            font-size: 16px

    .description
        color: #A8A8A8
    &:hover
        transform: rotate(2deg)
        transition: 125ms

.subtasks-in-details
    display: flex
    flex-direction: column
    padding-top: 12.5px
    padding-bottom: 12.5px
    .subtask-checkbox-container
        display: flex
        align-items: center

.user-urgency
    display: flex
    align-items: center
    justify-content: space-between
    margin-top: 6%
    .urgency
        width: 22px
        height: 15.4px
        padding: 10px 18px

.boards
    display: flex
    align-items: stretch
    overflow-x: scroll
    gap: 4%
    width: calc(100% - 50px)
    justify-content: space-between
    overflow-y: hidden
    .board
        width: 250px
        display: flex
        flex-wrap: wrap
        .board-task-container
            width: 100%

    .board-header
        width: 280px
        height: 50px
        display: flex
        justify-content: space-between
        align-items: flex-start
        h2
            color: #2A3647
            font-weight: 700
            font-size: 21px
            font-weight: 700
            padding: 0 !important
            margin: 0 !important
        img
            &:hover
                filter: $inversion-color

.assigned-users
    display: flex
    .user-icon
        margin-left: -18px
        width: 35px
        height: 35px
        font-size: 12px
    .user-icon:nth-child(1)
        margin-left: 0px !important

.edit-task-dialog
    @include popup

.center-task-dialog
    @include flex-center

.category-icon
    display: inline-block
    padding: 4px 25px
    border-radius: 8px
    color: white

.edit-task-main
    overflow-y: hidden
    position: relative
    background: #FFFFFF
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
    border-radius: 30px

.edit-task-container
    position: relative
    background-color: white
    padding: 30px
    height: 500px
    overflow-y: scroll
    .task-fields
        display: flex
        justify-content: center
        flex-direction: column
        gap: 8px

    .user-initial-container
        display: flex

.single-task-container
    position: relative
    background-color: white
    width: max(623px, 45%)
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
    border-radius: 30px
    h2
        margin: 0px
    .change-tasks
        position: absolute
        bottom: 5%
        right: 5%
        display: flex
        justify-content: center
        .delete-task-btn
            width: 57px
            height: 57px
            border: 1px solid #2A3647
            border-radius: 10px 0px 0px 10px
            img
                width: 32px
                height: 32px
            &:hover
                border: 1px solid $hover
                scale: 0.995
                img
                    filter: $inversion-color

        .edit-task-btn
            border-radius: 10px
            &:hover
                border: 1px solid $hover
                background-color: $hover
                scale: 0.995
        .edit-task-btn
            width: 57px
            height: 57px
            background: #2A3647
            border-radius: 0px 10px 10px 0px
            img
                width: 17.44px
                height: 30px
    .task-details
        width: 85%
        height: 80%
        padding: 50px
        overflow-y: auto
        h1
            padding-bottom: 12.5px
            padding-top: 25px
            font-size: 28px

        .category-icon
            font-size: 24px

    .edit-task-form
        width: 85%
        margin: auto
        height: 80%
        padding-top: 10%
        padding-bottom: 10%
        .mgn-b
            margin-bottom: 5%
        .edit-task-field
            width: 80%
            .user-assignment-container
                padding-left: 20px
                position: relative
                padding-top: 5%
                width: min(300px, 70%)
                .user-initial-container
                    position: absolute
                    display: flex

    .details-priority-btn
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
        border-radius: 10px
        @include flex-center
        flex-direction: row
        padding: 4px 12px
        color: white
        img
            width: 17px
            height: 12px
            margin-left: 5px
        .filtered-img-urgent
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%)
        .filtered-img-medium
            filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%)
        .filtered-img-low
            filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(101%) contrast(200%)

        &.low
            background-color: #7AE229
        &.medium
            background-color: #FFA800
        &.urgent
            background-color: #FF3D00
.assigned-to-container
    padding-top: 12.5px
    h2
        margin-bottom: 25px

.long-text
    overflow-y: auto
    min-height: 0px
    word-break: break-word

.details-container
    display: flex
    align-items: center
    padding-top: 12.5px
    padding-bottom: 12.5px

    h2
        margin-right: 25px

.subtask-progress
    display: flex
    justify-content: space-between
    align-items: center
    width: 100%
    margin-top: 6%
    font-size: 12px

progress
    color: #29ABE2
    width: 80%

.priority-btn
    border: none
    background-color: #ddd
    color: #333
    border-radius: 5px

.priority-btn.selected
    color: white
.priority-btn.selected.low
    background-color: #7AE229
    img
        filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(101%) contrast(200%)
.priority-btn.selected.urgent
    background-color: #FF3D00
    img
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%)
.priority-btn.selected.medium
    background-color: #FFA800
    img
        filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%)

.empty
    border: unset
    display: inline-block

.hovered
    background-color: rgb(0,0,0,0.05)

.task-headline
    font-size: 18px
