@import '../../styles.sass'

button
    border: none
    background-color: transparent
    .small-btn
        width: 24px
        height: 24px
        padding: 2px
        border-radius: 50%
        &:hover
            background-color: $hover-small-btn

input, textarea, select, .priority-btn
    font-family: 'Inter'
    font-style: normal
    font-weight: 400
    font-size: 21px

.title, select, textarea, .date, .standard
    display: block
    padding-left: 21px
    padding-right: 21px
    width: 100%
    background: #FFFFFF
    border: 1px solid #D1D1D1
    border-radius: 10px
    resize: none
    cursor: pointer

textarea
    width: calc( 100% - 42px )

textarea
    height: 135px

input, select
    height: 51px

textarea
    padding-top: 12px

.background
    background-color: $background

.white-background
    background-color: white

/* ********************************TASK LAYOUT******************************************* */

.main-container
    width: 90%
    margin: auto
    max-height: calc(100% - 90px - 5%)
    padding: 5% 0px
    overflow-y: auto
    overflow-x: clip
    .title-form
        display: flex
        flex-direction: column

.assign-btn-container
    width: 100%

.add-task-formfield
    width: calc( 100% - 1px)
    button
        width: 100%

.task-fields
    width: 100%
    button
        width: 100%

.add-task-right
    position: relative
    width: 45%
    box-sizing: border-box

.add-task-left
    width: 45%
    .user-initial-container
        display: flex

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active
    -webkit-box-shadow: 0 0 0 30px white inset !important


    

/* ********************************MAIN BUTTONS**************************************<***** */

.btn-container
    display: flex
    justify-content: flex-end
    align-items: center
    margin-top: 7.5%
    button
        border-radius: 10px
        @include flex-center
        font-size: 21px
    .clear-btn
        color: #2A3647
        border: 1px solid #2A3647
        background-color: white
        width: 136px
        height: 54px
        border-radius: 10px
        @include hover-style-1
        img
            width: 24px
            height: 24px
            margin-left: 2px

    .create-task-btn
        background-color: #2A3647
        color: white
        margin-left: 5%
        border: none
        color: #FFFFFF
        width: 177px
        height: 54px
        @include hover-style-2
        img
            width: 24px
            height: 24px
            margin-left: 2px

/* ********************************PRIORITY BUTTONS******************************************* */

.priority-btns
    display: flex
    align-items: center
    gap: 2%
    width: 100%
    .priority-btn
        height: 51px
        cursor: pointer
        display: flex
        justify-content: space-evenly
        align-items: center
        width: calc( 100% / 3)
        background-color: #FFFFFF
        border: 1px solid #D1D1D1
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
        border-radius: 10px
        &:hover
            transform: scale(1.1)
            box-shadow: $hover-shadow

    img
        margin-left: 5px
        width: 20px
        height: 14.5px

    .priority-radio
        opacity: 0
        top: 100%
        width: 1px
        height: 1px
        position: absolute

.priority-btn.selected
    border: none
    cursor: pointer
    position: relative
    color: white
    &.low
        background-color: #7AE229 !important
        img
            filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(101%) contrast(200%)
    &.urgent
        background-color: #FF3D00 !important
        img
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%)
    &.medium
        background-color: #FFA800 !important
        img
            filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%)

/* ********************************SUBTASK******************************************* */

.bullet
    width: 6px
    height: 6px
    background-color: black
    border-radius: 50%

.subtask, .subtask-edit-input
    font-size: 16px

.subtask
    display: flex
    align-items: center
    gap: 10px

.each-subtask
    display: flex
    justify-content: space-between
    align-items: center
    width: calc(100% - 32px)
    padding: 4px 16px
    height: 32px
    button
        width: fit-content

.subtask-edit-btns
    display: flex
    height: 24px
    img
        height: 24px
        width: 24px

.edit-subtask-con
    display: flex
    justify-content: space-between
    align-items: center
    border-bottom: 1px solid var(--Ligth-blue, #29ABE2)
    background: var(--white, #FFF)
    padding: 4px 16px

.subtask-edit-input
    border: unset
    padding: 0px
    height: auto !important
    &:focus
        border: none
    &:focus-visible
        outline: none

.subtasks-container
    position: relative
    display: flex
    flex-direction: row
    align-items: center
    background: #FFFFFF
    border: 1px solid #D1D1D1
    border-radius: 10px

    input
        border-radius: 10px
        border: none
        padding: 0px
        margin-left: 14px
        width: 70%
        &:focus
            outline: none

    .button-container
        position: absolute
        right: 10px
        height: 100%
        @include flex-center
        display: none

    img
        width: 24px
        height: 24px

.cancel-button, .delete-btn
    border-right: 1px solid #D1D1D1
    padding-right: 5px
    height: 24px

.add-button
    padding-left: 5px
    height: 24px

.subtasks-container .button-container
    @include flex-center

.assign-btn-container
    display: flex
    flex-direction: column
    align-items: flex-start
    position: relative
    background: #FFFFFF
    border: 1px solid #D1D1D1
    border-radius: 10px
    .assign-btn
        height: 51px
        font-size: 21px
        padding: 12px 16px
        width: 100%
        display: flex
        justify-content: space-between
        align-items: center

#category
    span
        margin-right: 10px

#categoryInput
    margin: 0px

.color-picker
    display: flex
    padding: 0px 20px 10px 20px
    gap: 5%
    width: 100%
    button
        height: 20px
        width: 20px

.square-checkbox
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    width: 11px
    height: 11px
    vertical-align: middle
    outline: none
    position: relative
    background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%)
    border: 1px solid #000000
    border-radius: 3px
    &::before
        content: ''
        position: absolute
        display: block
        width: 100%
        height: 100%
        background-color: transparent
        box-sizing: border-box

    &:checked::after
        content: ''
        position: absolute
        top: 50%
        right: 50%
        transform: translate(50%, -50%)
        background: #000000
        border-radius: 1px
        box-sizing: border-box
        height: 5px
        width: 5px

.user-icon
    border-radius: 50%
    border: 2px solid white
    height: 40px
    width: 40px
    color: white
    font-weight: bold
    text-transform: uppercase
    @include flex-center
    flex-wrap: wrap
    box-sizing: border-box
    transition: all 225ms linear
    margin: 6px
    font-size: 12px

#userSearchInput
    width: 100%

#userSearchInput::-webkit-calendar-picker-indicator
    opacity: 0

.chosen-category-container
    display: flex
    align-items: center
    button
        margin-right: 10px

.category
    display: flex
    align-items: center

.category-input-color
    display: flex
    align-items: center
    justify-content: flex-start
    padding-left: 20px

.category-color
    border: 2px solid #FFFFFF
    width: 15px
    height: 15px
    border-radius: 50%

.adjust-position
    position: absolute
    right: 20%

input.subtask-checkbox[type="checkbox"]
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    width: 16px
    height: 16px
    background-color: #fff
    border: 1px solid #ccc
    border-radius: 3px
    cursor: pointer
    position: relative
    margin-right: 10px

input.subtask-checkbox[type="checkbox"]:checked:after
    content: "\2714"
    display: block
    position: absolute
    top: 45%
    left: 50%
    transform: translate(-50%, -50%)
    font-size: 16px
    color: #000

input.subtask-checkbox[type="checkbox"]:focus
    outline: none

input.subtask-checkbox[type="checkbox"]:checked
    background-color: #fff

.subtask-checkbox-container
    margin-top: 8px

.add-subtask
    height: 24px
    width: 24px

.relative
    position: relative

.task-fields
    display: flex
    justify-content: space-between
    .border
        border: 1px solid #D1D1D1

.task-main
    overflow-y: hidden
    position: relative
    background: #FFFFFF
    z-index: 5000
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
    border-radius: 30px
    .btn-container
        bottom: 5%
    .title-form
        z-index: 5000
        padding: 35px
        margin: auto
        overflow-y: auto
        min-width: 800px
        margin: auto
        overflow-y: auto
    h1
        margin-top: 5%
        margin-bottom: 5%

.create-task-btn
    position: relative
    span
        display: inline-block

.users-select
    position: relative
    width: 100%
    height: 53px

.absolute
    position: absolute
    width: 100%

.user-menu
    border-radius: 10px
    border: 1px solid var(--Style, #D1D1D1)
    background: var(--white, #FFF)
    display: flex
    padding: 12px 16px
    justify-content: space-between
    align-items: center
    font-size: 21px
    .toggle-user-input
        width: 100%
    .assign-user-btn
        width: auto
        height: 24px

.user-search-input
    width: 95%
    height: auto
    border: none
    &:focus
        border: none
    &:focus-visible
        outline: none

.all-categories-list
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    background: var(--white, #FFF)
    z-index: 4000
    position: absolute
    width: 100%
    .box-shadow
        box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04)
        border-bottom-left-radius: 10px
        border-bottom-right-radius: 10px

.task-main
    .all-categories-list
        &::after
            display: block
            content: ''
            height: 20px

.color-topic
    display: flex
    align-items: center
    span
        margin-left: 12px

.category-list
    padding: 20px 20px 0px 20px
    gap: 12px
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

.new-category-menu
    border-top: 1px solid #D1D1D1
    margin-top: 10px
    .subtasks-container
        border: unset

.new-category-btn
    font-size: 21px
    width: 100%
    display: flex
    justify-content: flex-start
    align-items: center
    padding: 10px 20px 10px 20px
    margin-top: 10px
    border-top: 1px solid #D1D1D1
    border-radius: 0px 0px 10px 10px
    &:hover
        background-color: #D1D1D1

.all-users-list
    position: relative
    width: 100%
    z-index: 4000
    min-height: 200px
    height: auto
    margin-bottom: 20px
    padding-top: 40px

.block
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    gap: 8px
    background: var(--white, #FFF)
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04)
    border-bottom-left-radius: 10px
    border-bottom-right-radius: 10px
    width: 100%
    position: absolute
    top: 0px
    height: 100%
    overflow-y: auto

.user-in-list
    display: flex
    width: 95%
    margin-left: auto
    margin-right: auto
    justify-content: space-between
    align-items: center
    &:hover
        border-radius: 10px
        background: var(--version-2-main-color, #2b3542)
        color: white

.initial-name
    display: flex
    align-items: center

.select-category
    position: relative
    height: 54px

.each-category-container
    display: flex
    justify-content: flex-start
    align-items: center
    gap: 8px
    padding: 2px 0px
    width: 100%
    font-size: 18px
    border-radius: 10px
    &:hover
        background-color: $hover-small-btn

.category-container
    width: calc( 100% - 8px)
    display: flex
    flex-direction: column
    background: #FFFFFF
    border: 1px solid #D1D1D1
    border-radius: 10px
    position: relative
    align-items: flex-start
    .assign-btn
        height: 51px
        padding-left: 21px
        padding-right: 21px
        width: 98%
        display: flex
        justify-content: space-between
        align-items: center

.add-task-popup-dialog
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center

#categoryContainer
    width: 100%
    #categoryMenu
        width: 100%
