.dashboard
    width: 100vw
    position: relative

.absolute
    position: absolute

.relative
    position: relative

.add-task-container
    position: absolute
    top: 90px
    left: 233px
    display: flex
    justify-content: center
    align-items: center
    width: calc( 100% - 233px )
    height: calc( 100% - 90px )
    .add-task-formfield
        display: flex
        justify-content: center
       
