button {
  border: none;
  background-color: transparent;
}

input, textarea, select, div, h3, button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 120%;
}

.add-task-container {
  position: absolute;
  top: 180px;
  left: 233px;
  display: flex;
  align-items: flex-start;
  width: calc(100% - 233px);
  height: calc(100% - 180px);
  flex-direction: column;
}
.add-task-container .add-task-formfield {
  display: flex;
}
.add-task-container h2 {
  font-weight: 700;
  font-size: 61px;
  padding-bottom: 5%;
}
.add-task-container .inner-add-task-container {
  margin-left: 5%;
}
.add-task-container h3 {
  padding-top: 5%;
  padding-bottom: 5%;
}
.add-task-container .add-task-left {
  padding-right: 5%;
  border-right: 1px solid #D1D1D1;
}
.add-task-container .add-task-right {
  padding-left: 5%;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 180px;
}
.btn-container button {
  border-radius: 10px;
  font-weight: 700;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-container .clear-btn {
  color: #2A3647;
  border: 1px solid #2A3647;
  background-color: white;
  width: 136px;
  height: 61px;
  border-radius: 10px;
}
.btn-container .clear-btn img {
  width: 24px;
  height: 24px;
  margin-left: 2px;
}
.btn-container .create-task-btn {
  background-color: #2A3647;
  color: white;
  margin-left: 5%;
  border: none;
  color: #FFFFFF;
  width: 177px;
  height: 61px;
}
.btn-container .create-task-btn img {
  width: 24px;
  height: 24px;
  margin-left: 2px;
}

.title, select, textarea, .date {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 13px 21px;
  width: 422px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  resize: none;
  overflow: auto;
}

textarea {
  height: 119px;
}

input, select {
  height: 51px;
}

.user-icon {
  border-radius: 50%;
  border: 1px solid rgb(192, 192, 192);
  height: 45px;
  width: 45px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  transition: all 225ms linear;
}

.assignment-button-container {
  display: flex;
}

.priority-btns {
  display: flex;
  align-items: center;
}
.priority-btns .priority-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 136px;
  height: 51px;
  background: #FFFFFF;
  border: none;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 8px;
}
.priority-btns .priority-btn .priority-btn.selected {
  background-color: #2A3647;
  color: #fff;
}
.priority-btns .medium-prio {
  width: 20px;
  height: 7.5px;
}
.priority-btns img {
  padding-left: 10px;
  width: 20px;
  height: 14.5px;
}

.subtasks-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 422px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
}
.subtasks-container input {
  border-radius: 10px;
  border: none;
  padding: 0px;
  margin-left: 22px;
}
.subtasks-container input:focus {
  outline: none;
}
.subtasks-container .button-container {
  position: absolute;
  right: 10;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.subtasks-container img {
  width: 24px;
  height: 24px;
}
.subtasks-container .cancel-button {
  height: 31px;
  border-right: 1px solid #D1D1D1;
  padding-right: 12px;
}
.subtasks-container .add-button {
  padding-left: 12px;
}

.subtasks-container:focus-within .button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.assign-btn-container {
  display: flex;
  flex-direction: column;
  padding-top: 13px;
  width: 380px;
  background: #FFFFFF;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  position: relative;
  align-items: flex-start;
}
.assign-btn-container .assign-btn {
  padding-left: 21px;
  padding-right: 21px;
  margin-bottom: 13px;
  width: 98%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  overflow-y: scroll;
  width: 100%;
  height: 80px;
  margin-bottom: 60px;
  padding-right: 13px;
}
.user-list div {
  display: flex;
  align-items: center;
}

.user-menu {
  width: 100%;
  padding-left: 21px;
  padding-right: 21px;
}

.user-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
  height: 51px;
}
.user-list-container div {
  height: 51px;
}

.invite-user-btn {
  padding-left: 23px;
  padding-right: 23px;
  width: 100%;
  margin-left: -21px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  align-items: center;
  bottom: 0;
  z-index: 100px;
  height: 51px;
  border-top: 1px solid #D1D1D1;
}
.invite-user-btn img {
  width: 30px;
  height: 30px;
}

.square-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 11px;
  height: 11px;
  vertical-align: middle;
  outline: none;
  position: relative;
  background: linear-gradient(180deg, #F9F9F9 0%, #F0F0F0 100%);
  border: 1px solid #000000;
  border-radius: 3px;
}
.square-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
}
.square-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  background: #000000;
  border-radius: 1px;
  box-sizing: border-box;
  height: 5px;
  width: 5px;
}

#userSearchInput {
  width: 100%;
}

#userSearchInput::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.category-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.category-list .each-category-container {
  width: calc(100% - 42px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 21px;
  padding-right: 21px;
}
.category-list .each-category-container:hover {
  background-color: #D1D1D1;
}
.category-list .each-category-container:hover:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.category-list .each-category-container .category {
  display: flex;
  align-items: center;
  width: 100%;
  height: 51px;
}
.category-list .each-category-container .category-color {
  border: 2px solid #FFFFFF;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.new-category-btn {
  padding-left: 21px;
  padding-right: 21px;
  width: 100%;
  height: 51px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.new-category-btn:hover {
  background-color: #D1D1D1;
}

.priority-btn {
  border: none;
  background-color: #ddd;
  color: #333;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.priority-btn.selected {
  color: white;
}

.priority-btn.selected.low {
  background-color: #7AE229;
}
.priority-btn.selected.low img {
  filter: invert(1%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(101%) contrast(200%);
}

.priority-btn.selected.urgent {
  background-color: #FF3D00;
}
.priority-btn.selected.urgent img {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}

.priority-btn.selected.medium {
  background-color: #FFA800;
}
.priority-btn.selected.medium img {
  filter: invert(50%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(200%);
}/*# sourceMappingURL=addTasks.css.map */