* {
  padding: 0px;
  margin: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  font-family: "Inter", sans-serif;
}

.main-menu .nav-item {
  padding-top: 40px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: calc(232px - 4%);
  height: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  font-weight: 400;
  font-size: 21px;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  padding-left: 2%;
  padding-right: 2%;
  width: 232px;
  height: 100vh;
  left: 0px;
  top: 0px;
  background: #2A3647;
  border-radius: 0px;
}
#navbar a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 100px;
  height: 122px;
}

.nav-item {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-item img {
  margin-right: 20px;
}
.nav-item img {
  width: 26px;
  height: 26px;
}
.nav-item .nav-title {
  font-size: 18px;
}

button, a {
  cursor: pointer;
}

#navbar {
  width: 185.6px;
}

.register {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F6F7F8;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
}
.register .sign-up-container {
  border-radius: 30px;
  position: relative;
  height: 70%;
  width: 65%;
  background-color: #FFFFFF;
}
.register h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 61px;
  line-height: 120%;
  text-align: center;
  color: #000000;
  padding-bottom: 2%;
  position: relative;
}
.register h2:after {
  border-bottom: 3px solid #29ABE2;
  content: "";
  width: 150px;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.register img {
  width: 100px;
  height: 122px;
  position: absolute;
  left: 5.35%;
  top: 7.81%;
}
.register .sign-up {
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register .sign-up form {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-evenly;
}
.register .sign-up form input:nthchild() {
  margin-left: 12px;
}
.register .sign-up form input:nth-child(1) {
  background-image: url(/assets/img/contacts/person.png);
}
.register .sign-up form input:nth-child(2) {
  background-image: url(/assets/img/contacts/mail.png);
}
.register .sign-up form input:nth-child(3) {
  background-image: url(/assets/img/login/lock.png);
}
.register .sign-up form input:nth-child(4) {
  background-image: url(/assets/img/login/lock.png);
}
.register .sign-up form input {
  font-size: 21px;
  width: 100%;
  margin-top: 8%;
  margin-right: 10%;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 13px 21px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 95%;
}

.forgot-password-container {
  border-radius: 30px;
  position: relative;
  height: 55%;
  width: 76%;
  background-color: #FFFFFF;
  margin-left: 5%;
  margin-right: 5%;
}
.forgot-password-container h2 {
  margin-bottom: 5%;
}
.forgot-password-container .forgot-password {
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgot-password-container .forgot-password div:nth-child(2) {
  margin-bottom: 5%;
}
.forgot-password-container .forgot-password input:nth-child(1) {
  background-image: url(/assets/img/contacts/mail.png);
}
.forgot-password-container .forgot-password input {
  font-size: 21px;
  width: 100%;
  margin-right: 10%;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 13px 21px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 95%;
}
.forgot-password-container .forgot-password button {
  padding: 4px 0px;
  width: 264px;
  height: 51px;
}
.forgot-password-container .forgot-password .menu-btn {
  margin-top: 10%;
}
.forgot-password-container .reset-password {
  box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
  border-radius: 30px;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.forgot-password-container .reset-password input {
  font-size: 21px;
  margin-top: 5%;
  width: 100%;
  margin-right: 10%;
  border: 1px solid #D1D1D1;
  border-radius: 10px;
  padding: 13px 21px;
  background-size: 24px;
  background-repeat: no-repeat;
  background-position: 95%;
}

.color-white {
  color: white !important;
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-btn button {
  margin-top: 8%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px 10px;
  border-radius: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 120%;
  width: 57%;
}
.menu-btn button:nth-child(1) {
  background-color: #2A3647;
  color: white;
  margin-left: 10%;
  border: none;
}
.menu-btn button:nth-child(2) {
  color: #2A3647;
  border: 1px solid #2A3647;
}

.login-option {
  margin-top: 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.login-option input {
  padding: 0px !important;
  margin: 0px !important;
}

.to-register {
  display: flex;
  align-items: center;
  position: absolute;
  position: absolute;
  right: 5.35%;
  top: 7.81%;
}
.to-register button {
  background-color: #2A3647;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 16px;
  width: 91px;
  height: 51px;
  border-radius: 8px;
  color: white;
  border: none;
  margin-left: 20px;
}

.highlight-blue {
  color: #29ABE2;
  cursor: pointer;
}

.remember-me {
  display: flex;
}
.remember-me nobr {
  padding-left: 5%;
  margin-left: 5%;
}

.arrow-back {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 17.59%;
  bottom: 17.59%;
  cursor: pointer !important;
  width: 37px !important;
  height: 37px !important;
  z-index: 100;
}/*# sourceMappingURL=login.css.map */