* {
  padding: 0px;
  margin: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #F6F7F8;
}

.navbar-header {
  display: flex;
  width: 100vw;
}

.main-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.main-menu .nav-item {
  padding-top: 40px;
}

.dashboard {
  width: 100vw;
  position: relative;
}

/* Thin scrollbar for all browsers */
/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

/* Internet Explorer/Edge */
*::-ms-scrollbar {
  width: 8px;
}

*::-ms-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

*::-ms-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  font-weight: 400;
  width: 80%;
  font-size: 21px;
  z-index: 100;
}
#header .inner-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 100vh;
  background: #2A3647;
  border-radius: 0px;
  z-index: 100;
}
#navbar a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 100px;
  height: 122px;
}

.nav-item {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-item img {
  margin-right: 20px;
}
.nav-item img {
  width: 26px;
  height: 26px;
}
.nav-item .nav-title {
  font-size: 18px;
}

button, a {
  cursor: pointer;
}

.main-container {
  position: absolute;
  top: 15%;
  left: 20%;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: 85%;
  overflow: hidden;
}

.mgn-r {
  padding-right: 12px;
}

.mgn-l {
  padding-left: 12px;
}

.subtask-progress {
  display: flex;
  width: 100%;
}

.d-none {
  display: none !important;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

h2 {
  color: #2A3647;
  font-size: 21px;
  font-weight: 700;
  padding: 0 !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.add-task-popup {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  height: 85%;
  overflow: hidden;
  position: relative;
  width: 1116px;
  height: 914px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}
.task-main .add-task-formfield {
  display: flex;
}
.task-main .add-task-left {
  padding-right: 5%;
  border-right: 1px solid #D1D1D1;
}
.task-main .add-task-right {
  padding-left: 5%;
}

.close-upper-right {
  position: absolute;
  top: 35px;
  right: 35px;
  border: none;
  background: transparent;
}

.task-submit-successful {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
  width: 326px;
  height: 74px;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: white;
  position: absolute;
  bottom: 20 !important;
  left: 50%;
  transform: translateX(-50%);
}
.task-submit-successful img {
  height: 22;
  width: 26;
  margin-left: 30px;
}

.upper-summary {
  width: 100%;
}

.board-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  flex-direction: column;
  width: 30%;
  height: 170px;
}
.board-summary .big-number {
  font-weight: 600;
  font-size: 64px;
}

.summary-task {
  width: 60%;
}

.summary-main {
  width: 90%;
  height: 100%;
  margin: auto;
}

.urgency-container {
  width: 100%;
}

.deadline {
  display: flex;
  justify-content: space-around;
}

.deadline-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 47px;
  font-weight: 600;
}

.next-tasks-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.next-tasks-counter img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}

.middle-line {
  border: 2px solid #D1D1D1;
  height: 100px;
}

.summary-title {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 10%;
}

.upper-summary, .lower-summary {
  display: flex;
  gap: 5%;
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lower-board-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 50%;
  display: flex;
  gap: 25px;
  height: 170px;
}
.lower-board-summary .big-number {
  font-weight: 600;
  font-size: 64px;
}

.icon {
  border-radius: 50%;
  padding: 10px;
  background-color: #2A3647;
  width: 69px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon .check {
  width: 50px;
  height: 50px;
}
.icon .editBtnWhite {
  width: 33.5px;
  height: 50px;
}

.board-title-summary {
  text-align: center;
  width: 100%;
}

.summary-container {
  display: flex;
}

.deadline {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.deadline .urgency-icon {
  border-radius: 50%;
}
.deadline .urgency-icon img {
  padding: 15px;
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}
.deadline .urgent {
  background-color: #FF3D00;
}
.deadline .medium {
  background-color: #FFA800;
}
.deadline .low {
  background-color: #7AE229;
}/*# sourceMappingURL=summary.css.map */