@import '../../style.sass'

@mixin hover
    background-color: #2A3647
    color: white

@mixin summary
    @include flex-center
    background: #FFFFFF
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
    border-radius: 30px
    .big-number
        font-weight: 600
        font-size: 64px

.greeting
    font-size: 47px
    color: #2A3647

.upper-summary
    width: 100%
.board-summary
    @include summary
    flex-direction: column
    width: 30%
    height: 170px    
    &:hover
        @include hover
        transform: scale(1.1)

a
    color: black
    cursor: pointer

.summary-task
    width: 60%

.summary-main
    width: 90%
    height: 100%
    margin: auto

.urgency-container
    width: 100%

.deadline
    display: flex
    justify-content: space-around
    

.deadline-number
    display: flex
    flex-direction: column
    align-items: center
    font-size: 47px
    font-weight: 600

.next-tasks-counter
    @include flex-center
    gap: 20px
    img
        width: 40px
        height: 40px
        filter: brightness(0) invert(1)

.middle-line
    border: 2px solid #D1D1D1
    height: 100px

.summary-title
    display: flex
    align-items: center
    width: 100%
    padding-bottom: 5%

.upper-summary, .lower-summary
    display: flex
    gap: 5%

.number-container
    @include flex-center
    flex-direction: column

.lower-board-summary
    @include summary
    width: 50%
    display: flex
    gap: 25px
    height: 170px    
    &:hover
        @include hover
        transform: scale(1.1)
        .icon
            background-color: white
            img
                filter: invert(83%) sepia(46%) saturate(423%) hue-rotate(175deg) brightness(95%) contrast(89%)

.icon
    border-radius: 50%
    padding: 10px
    background-color: #2A3647
    width: 69px
    height: 69px
    @include flex-center
    .check
        width: 50px
        height: 50px
    .editBtnWhite
        width: 33.5px
        height: 50px

.board-title-summary
    text-align: center
    width: 100%

.summary-container
    display: flex
    justify-content: space-between
    align-items: center

.deadline
    margin-top: 5%
    margin-bottom: 5%
    width: 100%
    height: 150px
    background: #FFFFFF
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
    border-radius: 30px
    display: flex
    align-items: center
    .urgency-icon
        border-radius: 50%
        img
            padding: 15px
            width: 30px
            height: 30px
            filter: brightness(0) invert(1)
    .urgent
        background-color: #FF3D00
    .medium
        background-color: #FFA800
    .low
        background-color: #7AE229

    &:hover
        @include hover
        transform: scale(1.1)

.name
    font-size: 64px !important
    color: #29abe2
