* {
  padding: 0px;
  margin: 0px;
  -webkit-margin-after: 0px;
          margin-block-end: 0px;
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

.btn-1:hover {
  background-color: #29ABE2 !important;
  border: unset !important;
}

.btn-2:hover {
  color: #29ABE2 !important;
  border: solid 1px #29ABE2 !important;
}

.main {
  position: relative;
}

a {
  text-decoration: none;
  font-size: 18px;
}

body {
  background-color: #F6F7F8;
}

.navbar-header {
  display: flex;
  width: 100vw;
}

.main-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
.main-menu .nav-item {
  padding-top: 40px;
}

.dashboard {
  width: 100vw;
  position: relative;
}

/* Thin scrollbar for all browsers */
/* Webkit-based browsers */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ccc #f5f5f5;
}

/* Internet Explorer/Edge */
*::-ms-scrollbar {
  width: 8px;
}

*::-ms-thumb {
  background-color: #ccc;
  border-radius: 8px;
}

*::-ms-track {
  background-color: #f5f5f5;
  border-radius: 8px;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  background: #FFFFFF;
  font-weight: 400;
  width: 80%;
  font-size: 21px;
  z-index: 100;
}
#header .inner-header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

#navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 20%;
  height: 100vh;
  background: #2A3647;
  border-radius: 0px;
  z-index: 100;
}
#navbar a {
  color: white;
  text-decoration: none;
}

#logo {
  width: 100px;
  height: 122px;
}

.nav-item {
  color: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.nav-item img {
  margin-right: 20px;
}
.nav-item img {
  width: 26px;
  height: 26px;
}

button, a {
  cursor: pointer;
}

.main-container {
  position: absolute;
  top: clamp(120px, 15%, 100%);
  left: 20%;
  display: flex;
  justify-content: flex-start;
  width: 80%;
  height: calc(100% - clamp(120px, 15%, 100%));
  overflow: hidden;
}

.mgn-r {
  padding-right: 12px;
}

.mgn-l {
  padding-left: 12px;
}

.subtask-progress {
  display: flex;
  width: 100%;
}

.d-none {
  display: none !important;
}

h1 {
  font-weight: 700;
  font-size: 61px;
}

h2 {
  color: #2A3647;
  font-size: 21px;
  font-weight: 700;
  padding: 0 !important;
  margin-top: 5%;
  margin-bottom: 5%;
}

h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
}

.add-task-popup {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100svh;
  width: 100svw;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.profile-icon {
  margin-left: 12px;
  border-radius: 50%;
  border: 3px solid #2A3647;
  width: 49px;
  height: 49px;
  position: relative;
}

.logout-btn {
  width: 130px;
  height: auto;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px 0px 20px 20px;
  color: white;
  position: absolute;
  top: 90px;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logout-btn button, .logout-btn a {
  padding: 12px;
  color: white;
}

.margin-auto {
  width: 90%;
  margin: auto;
}

.close-upper-right {
  position: absolute;
  top: 5%;
  right: 5%;
  border: none;
  background: transparent;
  z-index: 10;
}

.task-submit-successful {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 0px;
  width: 326px;
  height: 74px;
  background: #2A3647;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  color: white;
  position: absolute;
  bottom: 20 !important;
  left: 50%;
  transform: translateX(-50%);
}
.task-submit-successful img {
  height: 22;
  width: 26;
  margin-left: 30px;
}

.mobile-logo {
  display: none;
  width: 32px;
  height: 39px;
}

.border-big {
  border: 3px solid #29ABE2;
  height: 59px;
  margin-right: 5%;
  margin-left: 5%;
}

.mobile {
  display: none !important;
}

.mobile-flex {
  display: none !important;
}

.desktop-flex {
  display: flex !important;
}

.desktop {
  display: block !important;
}

@media (max-width: 992px) {
  .main-container {
    position: absolute;
    top: clamp(90px, 15%, 100%);
    left: 20%;
    display: flex;
    justify-content: flex-start;
    width: 80%;
    height: calc(100% - clamp(90px, 15%, 100%));
    overflow: hidden;
  }
  #header {
    height: 76px;
  }
  h1 {
    font-size: 47px;
  }
  h2 {
    font-size: 41px;
  }
  div, button, input, textarea, h3, a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .add-task-popup {
    background-color: transparent;
  }
  .mobile-flex {
    display: flex !important;
  }
  .mobile {
    display: block !important;
  }
  .desktop {
    display: none !important;
  }
  .main-container {
    width: 100%;
    top: 90px;
    left: 0;
  }
  h1 {
    font-size: 47px;
  }
  div, button, input, textarea, h3, a {
    font-size: 16px;
  }
  .logout-btn button, .logout-btn a {
    padding: 8px;
    color: #CDCDCD;
  }
  .logout-btn {
    top: 76px;
  }
  .navbar-header {
    display: flex;
    width: 100svw;
    height: 100%;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
  }
  #logo {
    display: none;
  }
  #navbar, #header {
    width: 100%;
    height: 74px;
  }
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0px !important;
  }
  .nav-item .nav-title {
    font-weight: 400 !important;
    font-size: 16px !important;
    color: #CDCDCD;
    margin-top: 14px;
  }
  .nav-item img {
    margin: 0px;
    width: 22px;
    height: 22px;
  }
  .main-menu {
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding-top: 0px !important;
  }
  #legalNotice {
    display: none;
  }
  .mobile-logo {
    display: block;
  }
}
.greeting {
  font-size: 47px;
  color: #2A3647;
}

.upper-summary {
  width: 100%;
}

.board-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  flex-direction: column;
  width: 30%;
  height: 170px;
}
.board-summary .big-number {
  font-weight: 600;
  font-size: 64px;
}
.board-summary:hover {
  background-color: #2A3647;
  color: white;
  transform: scale(1.1);
}

a {
  color: black;
  cursor: pointer;
}

.summary-task {
  width: 100%;
}

.summary-main {
  width: 90%;
  height: 100%;
  margin: auto;
}

.urgency-container {
  width: 100%;
}

.deadline {
  display: flex;
  justify-content: space-around;
}

.deadline-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 47px;
  font-weight: 600;
}

.next-tasks-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.next-tasks-counter img {
  width: 40px;
  height: 40px;
  filter: brightness(0) invert(1);
}

.middle-line {
  border: 2px solid #D1D1D1;
  height: 100px;
}

.summary-title {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
}

.upper-summary, .lower-summary {
  display: flex;
  gap: 5%;
}

.number-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.lower-board-summary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  width: 50%;
  display: flex;
  gap: 25px;
  height: 170px;
}
.lower-board-summary .big-number {
  font-weight: 600;
  font-size: 64px;
}
.lower-board-summary:hover {
  background-color: #2A3647;
  color: white;
  transform: scale(1.1);
}
.lower-board-summary:hover .icon {
  background-color: white;
}
.lower-board-summary:hover .icon img {
  filter: invert(83%) sepia(46%) saturate(423%) hue-rotate(175deg) brightness(95%) contrast(89%);
}

.icon {
  border-radius: 50%;
  background-color: #2A3647;
  width: 69px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon .check {
  width: 30px;
  height: 30px;
}
.icon .editBtnWhite {
  width: 30.5px;
  height: 40px;
}

.board-title-summary {
  text-align: center;
  width: 100%;
  height: 28px;
}

.summary-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
}

.deadline {
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  align-items: center;
}
.deadline .urgency-icon {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.deadline .urgency-icon img {
  padding: 15px;
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}
.deadline .urgent {
  background-color: #FF3D00;
}
.deadline .medium {
  background-color: #FFA800;
}
.deadline .low {
  background-color: #7AE229;
}
.deadline:hover {
  background-color: #2A3647;
  color: white;
  transform: scale(1.1);
}

.name {
  font-size: 64px;
  color: #29abe2;
}

@media (max-width: 992px) {
  .board-summary .big-number {
    font-size: 47px;
  }
  .lower-board-summary .big-number {
    font-size: 47px;
  }
  .board-title-summary {
    height: 28px;
    font-size: 14px;
  }
  .greeting {
    font-size: 36px;
  }
  .name {
    font-size: 47px;
  }
  .icon {
    width: 40px;
    height: 40px;
  }
  .icon .check {
    width: 19px;
    height: 19px;
  }
  .icon .editBtnWhite {
    width: 19.5px;
    height: 26px;
  }
  .lower-board-summary, .board-summary, .deadline {
    height: 110px;
  }
}
@media (max-width: 768px) {
  .summary-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .summary-title .border-big {
    order: 3;
    display: inline-block;
    border: none;
    border-top: 3px solid #29ABE2;
    width: 100px;
    height: 0;
    margin: unset;
    margin-top: 5%;
    margin-bottom: 5%;
  }
}/*# sourceMappingURL=summary.css.map */