@import '../../styles.sass'

@mixin hover
    background-color: #2A3647
    color: white

@mixin summary
    @include flex-center
    background: #FFFFFF
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
    border-radius: 30px

.big-number
    font-weight: 600
    font-size: 61px

.greeting
    font-size: 47px
    color: #2A3647

.upper-summary, .lower-summary, .deadline
    a
        padding: $pdg-bt

.upper-summary
    width: 100%

.board-summary
    @include summary
    flex-direction: column
    width: 30%
    transition: background-color 0.3s ease, filter 0.3s ease
    &:hover
        @include hover
a
    color: black
    cursor: pointer

.summary-task
    width: 100%
    display: flex
    gap: 18px
    flex-direction: column

.summary-main
    width: 90%
    margin: auto
    height: calc(100% - 90px)
    padding: 5% 0px

.urgency-container
    width: 100%

.deadline
    display: flex
    justify-content: space-around

.deadline-number
    display: flex
    flex-direction: column
    align-items: center

.next-tasks-counter
    @include flex-center
    gap: 20px
    width: calc( 50% - 5px )
    border-right: solid 5px #D1D1D1
    img
        width: 40px
        height: 40px
        filter: brightness(0) invert(1)

.date
    width: 50%
    display: flex
    justify-content: flex-end
    height: 100%

.summary-title
    display: flex
    align-items: center
    width: 100%
    padding-bottom: 5%

.upper-summary, .lower-summary
    display: flex
    gap: 5%

.number-container
    @include flex-center
    flex-direction: column

.lower-board-summary
    @include summary
    width: 50%
    display: flex
    gap: 25px
    transition: background-color 0.3s ease, filter 0.3s ease
    &:hover
        @include hover
        .icon
            background-color: white
            img
                filter: invert(83%) sepia(46%) saturate(423%) hue-rotate(175deg) brightness(95%) contrast(89%)

.icon
    border-radius: 50%
    background-color: #2A3647
    width: 69px
    height: 69px
    @include flex-center
    .check
        width: 30px
        height: 30px
    .editBtnWhite
        width: 30.5px
        height: 40px

.board-title-summary
    text-align: center
    width: 100%
    height: 28px

.summary-container
    display: flex
    justify-content: space-between
    align-items: center
    gap: 10%
.deadline
    width: calc( 100% - 10% )
    padding: $pdg-bt calc( $pdg-bt * 2 )
    background: #FFFFFF
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1)
    border-radius: 30px
    display: flex
    align-items: center
    transition: background-color 0.3s ease, filter 0.3s ease
    .urgency-icon
        height: 60px
        width: 60px
        border-radius: 50%
        img
            padding: 15px
            width: 30px
            height: 30px
            filter: brightness(0) invert(1)
    &:hover
        @include hover

.urgent
    background-color: #FF3D00
.medium
    background-color: #FFA800
.low
    background-color: #7AE229

.name
    font-size: 64px
    color: #29abe2

@media (max-width: 992px)

    .big-number
        font-size: 47px

    .board-title-summary
        height: 28px
        font-size: 14px

    .greeting
        font-size: 36px
    .name
        font-size: 47px

    .icon
        width: 40px
        height: 40px
        .check
            width: 19px
            height: 19px
        .editBtnWhite
            width: 19.5px
            height: 26px

@media (max-width: 768px)

    .summary-task
        z-index: 200

    .summary-title
        display: flex
        flex-direction: column
        align-items: flex-start
        .border-big
            order: 3
            display: inline-block
            border: none
            border-top: 3px solid #29ABE2
            width: 100px
            height: 0
            margin: unset
            margin-top: 5%
            margin-bottom: 5%

    .greeting-sentence
        background-color: #F6F7F8
        position: absolute
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
        animation: fadeOut 2s ease-in-out forwards

        @keyframes fadeOut
            0%
                opacity: 1
                z-index: 10000
                display: flex

            99%
                z-index: 0
                opacity: 0
                display: flex

            100%
                opacity: 0
                z-index: 0
                display: none

@media (max-width: 480px)

    .big-number
        font-size: 32px

@media (max-height: 468px) and (orientation: landscape)

    .deadline .urgency-icon
        height: 45px
        width: 45px
        img
            height: 15px
            width: 15px
